@import 'colors.scss';

$alternate-text-color: #222;

.container {
    color: $alternate-text-color;
}

/**
 * Overriding Boostrap default layout styles
 */

.blog-content {
    padding: 10px;
    box-sizing: border-box;
}

.entry-content {

    $padding: 30px;

    p, li {
        line-height: 160%;
    }

    p {
        margin: 0 0 $padding;
    }

    ol {
        padding-left: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
    {
        margin-top: 0;
        margin-bottom: 1.5em;
    }

    h1 {
        line-height: 1.1em;
    }

    h2 {
        line-height: 1.35em;
    }

    h3 {
        line-height: 1.5em;
    }
}

.entry-title {
    margin-bottom: 5px;
    font-size: 2.5em;
}

.entry-meta {
    font-size: 12px;
    color: #666;
    margin-bottom: 18px;
}

#blurb {
    margin-top: 22px;
}

#comments {
    textarea {
        width: auto;
    }
}

.form-allowed-tags {
    code {
        white-space: normal;
    }
}

/**
 * Sidebar settings
 */
.sidebar {
    .genericon {
        font: normal 32px/20px 'Genericons';
        padding: 10px;
        vertical-align: middle;
        color: #fff;
        width: auto;
        height: auto;
    }

}

.link-menu {
    li {
        list-style-type: none;
        margin-bottom: 20px;
        border-radius: 5px;

        a {
            padding-top: 3px;
            display: block;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

/**
 * Comments
 */
.commentlist {
    padding-left: 0;
}

.comment-meta {
    $avatar-width: 44px;
    $avatar-padding: 11px;

    img {
        float: left;
    }

    cite {
        display: block;
        margin-left: $avatar-width + $avatar-padding;

        span {
            background-color: $list-color-5;
            border-radius: 3px;
            color: #fff;
            font-size: 11px;
            padding: 4px;
            margin-left: 10px;
        }
    }

    time {
        font-size: 12px;
        margin-left: $avatar-padding;
        color: $alternate-text-color;
    }
}

.reply {
    font-size: 12px;
}

#page {
    .syntaxhighlighter {
        padding: 10px;
        border-radius: 6px;
    }
}

