$top-color: #01D2FF;
$backing-color: #fff;
$text-color: #fff;
$alternate-text-color: #222;

$orange: #ff6600;
$turquoise: #00a0b0;
$purple: #351330;
$red: #cc333f;
$dark-blue: #1B325F;
$yellow: #edc951;

$twitter-color: $dark-blue;

.orange {
	background-color: $orange;
}

.turquoise {
	background-color: $turquoise;
}

.purple {
	background-color: $purple;
}

.red {
	background-color: $red;
}

.dark-blue {
	background-color: $dark-blue;
}

.yellow {
	background-color: $yellow;
}

