$top-color: #01D2FF;
$backing-color: #fff;
$text-color: #fff;
$alternate-text-color: #222;

$list-color-1: #E67E22;
$list-color-2: #1ABC9C;
$list-color-3: #8E44AD;
$list-color-4: #E74C3C;
$list-color-5: #34495E;
$list-color-6: #F1C40F;

$orange: $list-color-1;
$turquoise: $list-color-2;
$purple: $list-color-3;
$red: $list-color-4;
$dark-blue: $list-color-5;
$yellow: $list-color-6;

$twitter-color: #2C3E50;

.orange {
	background-color: $list-color-1;
}

.turquoise {
	background-color: $list-color-2;
}

.purple {
	background-color: $list-color-3;
}

.red {
	background-color: $list-color-4;
}

.dark-blue {
	background-color: $list-color-5;
}

.yellow {
	background-color: $list-color-6;
}
