$top-color: #01D2FF;
$backing-color: #fff;
$text-color: #fff;
$alternate-text-color: #222;

$orange: #ee7722;
$darker-orange: adjust_color($orange, $red: -15, $blue: -40, $green: -30);

$turquoise: #00a0b0;
$darker-turquoise: adjust_color($turquoise, $blue: -20, $green: -20);

$purple: #9553b0;
$darker-purple: adjust_color($purple, $red: -10, $blue: -20, $green: -10);

$red: #cc333f;
$darker-red: adjust_color($red, $red: -19, $blue: -12, $green: -8);

$dark-blue: #233255;
$darker-blue: adjust_color($dark-blue, $red: -19, $blue: -12, $green: -8);

$yellow: #edc951;
$darker-yellow: adjust_color($yellow, $red: -19, $blue: -12, $green: -20);

$twitter-color: $dark-blue;

.orange {
    background-color: $orange;
    &:hover, &:active {
        background-color: $darker-orange;
    }
}

.turquoise {
    background-color: $turquoise;
    &:hover, &:active {
        background-color: $darker-turquoise;
    }
}

.purple {
    background-color: $purple;
    &:hover, &:active {
        background-color: $darker-purple;
    }
}

.red {
    background-color: $red;
    &:hover, &:active {
        background-color: $darker-red;
    }
}

.dark-blue {
    background-color: $dark-blue;
    &:hover, &:active {
        background-color: $darker-blue;
    }
}

.yellow {
    background-color: $yellow;
    &:hover, &:active {
        background-color: $darker-yellow;
    }
}

