@import 'colors.scss';

.accordion {
    margin: 0;
}

.accordion-heading {
    padding: 8px 10px;
    margin: 0;
    cursor: pointer;
    color: $text-color;
}

.accordion-items {
    margin: 1em 0 0 1em;
    padding-bottom: 7px;
    cursor: pointer;
    list-style-type: none;

    li {
        background: url("../img/gradient-line.png") no-repeat bottom center;
        padding: 5px;

        &:last-child {
            background: none;
        }

        a {
            text-decoration: none;
            cursor: pointer;
            color: $top-color;
        }
        
        a:hover {
            text-decoration: underline;
        }
    }
}

#logo {
    float: left;
    margin-right: 10px;
}

#blurb {
    padding: 10px 5px;
    color: $alternate-text-color;
}

#top-posts {
    background-color: $orange;
    &:hover, &:active {
        background-color: $darker-orange;
    }
}

#start-here {
    background-color: $turquoise;
    &:hover, &:active {
        background-color: $darker-turquoise;
    }
}

#contact {
    background-color: $purple;
    &:hover, &:active {
        background-color: $darker-purple;
    }
}

#recent-posts {
    background-color: $red;
    &:hover, &:active {
        background-color: $darker-red;
    }
}

#trivia {
    background-color: $yellow;
    &:hover, &:active {
        background-color: $darker-yellow;
    }
}

#projects {
    background-color: $dark-blue;
    &:hover, &:active {
        background-color: $darker-blue;
    }
}

#twitter {
    background-color: $twitter-color;
    &:hover, &:active {
        background-color: $darker-blue;
    }
}

@media (min-width: 768px) { 
    .accordion {
        margin-bottom: 20px;
    }

    .accordion-heading {
        border-radius: 6px;
    }
}

.genericon {
    font: normal 32px/9px 'Genericons';
    vertical-align: middle;
    margin-right: 20px;
}

$square-width: 90px;

.contact-items {
    margin: 0 auto;
}

.square {
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 2px;
    min-height: $square-width;
    width: 32%;
    display: inline-block;
    background: url("../img/gradient-vertical.png") no-repeat center right;

    &:nth-child(3n) {
        background: none;
    }

    a {
        color: #222;
        display: block;
        text-align: center;
    }

    .genericon {
        margin: 20px auto 10px;
        display: block;
        padding-right: 12px;
    }
}
