@import url(http://fonts.googleapis.com/css?family=Oxygen:300,700,400);
@import 'colors.scss';

$twitter-color: #2C3E50;

html {
    color: $alternate-text-color !important;
}

@media (max-width: 767px) { 
    html {
        width: 100%;
    }

    .h-feed {
        height: 500px;
        overflow: hidden;
    }

    .timeline .load-more {
        display: none;
    }
}

@media (min-width: 768px) { 
    html {
        width: 560px;
    }
}

.root.timeline.twitter-timeline {

    p, a, ol, ul, li {
        font-family: 'Oxygen', 'Ubuntu', 'Helvetica Neue', Helvetica, arial, sans-serif;
    }
}

.root.twitter-timeline {
    .tweet {
        padding: 7px 10px;
        background: url("../img/gradient-line.png") no-repeat bottom center;

        &:nth-child(1n + 7) {
            display: none;
        }
    }

    .e-entry-title {
        font-size: 15.5px;
        overflow: visible;
    }

    a, 
    a:visited
    {
        text-decoration: underline;
    }

    .u-url,
    .expand,
    .hashtag,
    .profile
    {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}

.u-photo,
.full-name,
.inline-media,
.expand 
{
    display: none;
}
